//* Colors var

$white: #f9f9f9;
$white-two: #ffffff;

$black: #303030;
$black-two: #000000;

$gray: #5e5e5e;
$gray-ligh: #b2b2b2;

$red: #ff5b5b;

$green-kiwi: #8fe360;
$green-weird: #57e690;

$orange-pastel: #ff915b;
$orange-pale: #ffbe5b;

$bleu: #57dbe6;

$gold-light: #ffdf5b;

$brown-sorrell: #CFB995;
$brown-sorrell-two: #D0BA93;


//* Colors map 

$colors: (
  "white": $white,
  "white-two": $white-two,
  "black": $black,
  "black-two": $black-two,
  "gray": $gray,
  "gray-ligh": $gray-ligh,
  "red": $red,
  "green-kiwi": $green-kiwi,
  "green-weird": $green-weird,
  "orange-pastel": $orange-pastel,
  "orange-pale": $orange-pale,
  "bleu": $bleu,
  "gold-light": $gold-light,
  "brown-sorrell": $brown-sorrell,
  "brown-sorrell-two": $brown-sorrell-two,
);


$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

//* font sizes 
$h1-fs:(
  "xs":2rem,
  "sm":2.25rem,
  "md":2.5rem,
  "lg":2.75rem,  
  "xl":3rem,
);


$p-fs:(  
  "xs":.75rem,
  "sm":.75rem,
  "xl":.875rem,
);

$h2-fs:(
  "xs":1.5rem,
  "sm":1.75rem,
  "md":2rem,
  "lg":2.25rem,  
  "xl":2.5rem,
);

$btn-fs:(
  "xs":1.5rem,
  "sm":1.75rem,
  "md":2rem,
  "lg":2.25rem,  
  "xl":2.5rem,
);



//* spacing

$base-padding: 14px !default;
$base-margin: 10px !default;


//* border

$base-border-thickness: 0px !default;
$base-border-radius: 2px !default;


//* shadow opacity

$shadow-opacity: 0.15;


//* box-shadow

$base-box-shadow: 0 1px 7px 0 rgba( $black-two, $shadow-opacity ) !default;