%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  
  .navbar {
    @extend %flex-layout;
    .container {
      @extend %flex-layout;
    }
  }

  @each $key, $val in $colors {
    .navbar-#{$key} {
      @extend .navbar;
      background-color: $val;
    }
}